* {
    box-sizing: border-box;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

html {
    background-color: grey;
    background-attachment: fixed;
    background-image: url('https://picsum.photos/640/455');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-color: rgba(255, 255, 255, .5);
}

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    color: orangered;
}

.bloco {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form, .caixa {
    display: table;
    background-color: #ddd;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 7px 7px 7px -2px #4D4D4D;
}

h2 {
    margin: 0;
}

input,
button {
    font-family: inherit;
    font-size: inherit;
}

form table {
    width: 100%;
}

form table td {
    padding: .3rem;
}

form table tr td:first-child {
    font-weight: bold;
    text-align: right;
}

.botoes td:last-child {
    display: flex;
    justify-content: space-between;
}

input,
button {
    padding: .3rem;
    border: 1px solid grey;
    border-radius: .3rem;
}

input {
    width: 100%;
}

input[type=checkbox] {
    width: auto;
}

button {
    color: white;
    width: 45%;
}

button[type=submit] {
    background-color: steelblue;
}

button[type=reset] {
    background-color: orangered;
}

button[type=button] {
    background: slategray;
    color: white;
    display: table;
    margin: auto;
}

.cadastrado button {
    display: block;
    width: 100%;
}

.index, .index button {
    width: 100%;
}